* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
:root {
    --orange-color: #FCB800;
    --primary-color: #000000;
    --green-color: #82B440;
    --white-color: #fff;
}